.layout {
	width: 960px;
	background-color: orange;
}

#masthead {
	width: 960px;
	border-bottom: 3px solid #777777;
	background-color: yellow;
}

#nameBox {
	background-color: blue;
	float: left;
	margin-bottom: 0px;
}

/* Font colors and families */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bolder;
}

p, #navigation {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 20px;
	margin: 0px auto 0px auto;
	text-align: center;
}

#navigation {
	background-color: blue;
	float: right;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav {
	float: right;
}